html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  line-height: 1.3em;
  overflow: scroll;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: normal;
  text-align: left;
}

.clear {
  clear: both;
}

.clearfix, #content_sidebar .box, #right_pane .box, ul#main_navigation, fieldset div, .search_form {
  display: block;
}
.clearfix:after, #content_sidebar .box:after, #right_pane .box:after, ul#main_navigation:after, fieldset div:after, .search_form:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 1px;
}
* html .clearfix, * html #content_sidebar .box, #content_sidebar * html .box, * html #right_pane .box, #right_pane * html .box, * html ul#main_navigation, * html fieldset div, fieldset * html div, * html .search_form {
  display: block;
  height: 1%;
}

.container_12, #header_wrapper, #main_content, #footer, #sub_navigation_wrapper ul#sub_navigation, body.notice #notice_wrapper {
  position: relative;
  margin: 0 auto;
  width: 960px;
}

.grid, .grid_1, .grid_2, .grid_3, #content_sidebar, #right_pane, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, #content_body, .grid_10, .grid_11, .grid_12, #content_body_wide {
  position: relative;
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.first, #content_body, #content_body_wide {
  margin-left: 0 !important;
}

.top {
  margin-top: 0 !important;
}

.last, #content_body_wide, #content_sidebar, #right_pane {
  margin-right: 0 !important;
}

.bottom {
  margin-bottom: 0 !important;
}

.grid_1 {
  width: 60px;
}

.grid_2 {
  width: 140px;
}

.grid_3, #content_sidebar, #right_pane {
  width: 220px;
}

.grid_4 {
  width: 300px;
}

.grid_5 {
  width: 380px;
}

.grid_6 {
  width: 460px;
}

.grid_7 {
  width: 540px;
}

.grid_8 {
  width: 620px;
}

.grid_9, #content_body {
  width: 700px;
}

.grid_10 {
  width: 780px;
}

.grid_11 {
  width: 860px;
}

.grid_12, #content_body_wide {
  width: 940px;
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  background: #333344;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 18px;
  padding: 0.2em;
  color: #fff;
}

h2 {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 27px;
}

h3 {
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 23.4px;
}

h4 {
  font-size: 15px;
  line-height: 20.7px;
  margin-bottom: 20.7px;
}

h5 {
  font-size: 12px;
  line-height: 18px;
}

h6 {
  font-size: 12px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: #0066ff;
}
a:hover {
  text-decoration: underline;
}

a {
  color: #0099dd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline !important;
}

.action_icons a {
  display: block;
  float: left;
  text-indent: -999em;
  width: 14px;
  height: 14px;
  background-image: url(/images/admin/icons/icons_222.png);
  margin-right: 3px;
}
.action_icons .article_edit {
  background-position: -64px -112px;
}
.action_icons .article_edit.locked {
  background-position: -112px -128px;
}
.action_icons .article_show {
  background-position: -32px -96px;
}
.action_icons .article_print {
  background-position: -160px -96px;
}
.action_icons .article_unpublish {
  background-position: -16px -160px;
}
.action_icons .article_indesign {
  background-position: -64px -96px;
}
.action_icons .article_destroy {
  background-position: -80px -128px;
}

.clipped_background, .small_rounded_top, #content_sidebar .box, #right_pane .box, #content_sidebar .box h2, #right_pane .box h2, ul#main_navigation li a, #sub_navigation_wrapper ul#sub_navigation li a, .tabbed_fieldsets.tabs_enabled h2 a, .word_counter, .small_rounded_bottom, .tabbed_fieldsets.tabs_enabled fieldset, .small_rounded, h1, input, textarea, select, fieldset.standard, fieldset.standard legend, .tabbed_fieldsets fieldset, .tabbed_fieldsets fieldset legend, .tabbed_fieldsets.tabs_enabled fieldset.article_type, .tabbed_fieldsets.tabs_enabled fieldset.article_type legend, form .errors, div.flash, div.note, .search_form .buttons input, .search_form .buttons a, .medium_rounded, #admin_tools, .search_form, .medium_rounded_top, .medium_rounded_bottom, .large_rounded, .button, body.notice #notice_body {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.not_rounded, .tabbed_fieldsets.tabs_enabled fieldset {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.small_rounded_top, #content_sidebar .box, #right_pane .box, #content_sidebar .box h2, #right_pane .box h2, ul#main_navigation li a, #sub_navigation_wrapper ul#sub_navigation li a, .tabbed_fieldsets.tabs_enabled h2 a, .word_counter {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.small_rounded_bottom, .tabbed_fieldsets.tabs_enabled fieldset {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.small_rounded, h1, input, textarea, select, fieldset.standard, fieldset.standard legend, .tabbed_fieldsets fieldset, .tabbed_fieldsets fieldset legend, .tabbed_fieldsets.tabs_enabled fieldset.article_type, .tabbed_fieldsets.tabs_enabled fieldset.article_type legend, form .errors, div.flash, div.note, .search_form .buttons input, .search_form .buttons a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.medium_rounded, #admin_tools, .search_form {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.medium_rounded_top {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.medium_rounded_bottom {
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.large_rounded, .button, body.notice #notice_body {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.fade, ul#main_navigation li a, #sub_navigation_wrapper ul#sub_navigation li a, input, textarea, select, .button, fieldset .field_with_errors input, fieldset .field_with_errors textarea, fieldset .field_with_errors select, table.list td {
  -webkit-transition: all 200ms ease-in-out !important;
}

.form_glow, input:focus, textarea:focus, .button:hover, .button.cancel:hover, .button.save:hover, .button.new:hover, .button.delete:hover, .button.edit:hover, .search_form .buttons input:hover, .search_form .buttons a:hover, body.notice input.button:hover, body.notice input.button:active {
  border-color: #0099dd !important;
  -moz-box-shadow: 0px 0px 5px #0099dd !important;
  -webkit-box-shadow: 0px 0px 5px #0099dd !important;
  box-shadow: 0px 0px 5px #0099dd !important;
}

.hover_glow {
  -moz-box-shadow: 0px 0px 15px #888899 !important;
  -webkit-box-shadow: 0px 0px 15px #888899 !important;
  box-shadow: 0px 0px 15px #888899 !important;
}

.spinner {
  display: none;
}

#header {
  height: 110px;
  background: #333344;
  position: relative;
}

#header_wrapper {
  padding: 20px 0px 0px 0px;
  position: relative;
  height: 90px;
}

#header_title {
  font-size: 4em;
  font-weight: bold;
  color: #555566;
}

#admin_tools {
  background: #555566;
  color: #888899;
  position: absolute;
  right: 20px;
  top: -10px;
  padding: 15px 10px 7px 10px;
}
#admin_tools a {
  color: white;
  padding: 0 0.25em;
}

#main_content {
  padding: 20px 0px 100px 0px;
  overflow: auto;
}

#content_sidebar .box, #right_pane .box {
  margin-bottom: 2em;
  background: #eeeeff;
  padding: 10px;
}
#content_sidebar .box h2, #right_pane .box h2 {
  padding: 0.3em 0.5em;
  margin: -10px -10px 10px -10px;
  font-size: 1.2em;
  line-height: 1em;
  color: white;
  background: #333344;
  border-bottom: 3px #555566 solid;
}
#content_sidebar .box input, #content_sidebar .box select, #right_pane .box input, #right_pane .box select {
  margin-bottom: 1em;
}

#footer_wrapper {
  background: #ddddee;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#footer {
  padding: 1em;
}

ul#main_navigation {
  position: absolute;
  bottom: 4px;
  text-transform: uppercase;
  font-size: 1em;
}
ul#main_navigation li {
  float: left;
}
ul#main_navigation li a {
  padding: 0.5em 1em;
  background: #555566;
  margin-right: 1em;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
ul#main_navigation li a:hover {
  background: #888899;
  color: white;
}
ul#main_navigation li.active a {
  background: #ddddee;
  color: #333344;
}

#sub_navigation_wrapper {
  background: #ddddee;
  height: 1em;
  padding: 0.8em 0;
}
#sub_navigation_wrapper ul#sub_navigation {
  text-transform: uppercase;
}
#sub_navigation_wrapper ul#sub_navigation li {
  float: left;
}
#sub_navigation_wrapper ul#sub_navigation li a {
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  background: none;
  margin-right: 1em;
  color: #555566;
}
#sub_navigation_wrapper ul#sub_navigation li a:hover {
  background: #ccccdd;
  z-index: 5;
}
#sub_navigation_wrapper ul#sub_navigation li.active a {
  background: white;
  color: #333344;
  z-index: 5;
  position: relative;
}

legend {
  display: none;
}

input, textarea, select {
  font-family: Helvetica, Arial, sans-serif;
  border: 1px #555566 solid;
  margin: 0;
  padding: 0.25em;
  width: 97%;
}

.check_box {
  width: auto;
}

label {
  display: block;
  font-weight: bold;
  line-height: 1.2em;
}
label span.required {
  color: red;
  margin-left: 0.2em;
}

.form_note {
  display: block;
  color: #888899;
  font-size: 0.9em;
  margin-top: 2px;
  line-height: 1.3em;
}

.button {
  width: auto;
  padding: 9px 12px 9px 32px;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
  font-weight: bold;
  background-color: #ddddee;
  border: 1px #ccccdd solid;
  color: #111122;
}
.button:hover {
  background-color: #eeeeff !important;
  text-decoration: none;
}
.button.cancel {
  background: #ddddee url(/images/admin/icons/button_cancel.png) 0.6em center no-repeat;
}
.button.cancel:hover {
  background-color: #eeeeff !important;
}
.button.save {
  background: #ddddee url(/images/admin/icons/button_save.png) 0.6em center no-repeat;
}
.button.save:hover {
  background-color: #eeeeff !important;
}
.button.new {
  background: #ddddee url(/images/admin/icons/button_new.png) 0.6em center no-repeat;
}
.button.new:hover {
  background-color: #eeeeff !important;
}
.button.delete {
  background: #ddddee url(/images/admin/icons/button_delete.png) 0.6em center no-repeat;
}
.button.delete:hover {
  background-color: #eeeeff !important;
}
.button.edit {
  background: #ddddee url(/images/admin/icons/button_edit.png) 0.6em center no-repeat;
}
.button.edit:hover {
  background-color: #eeeeff !important;
}

a.destroy {
  display: block;
  width: 20px;
  height: 20px;
  background: url(/images/admin/icons/link_destroy.png) center center no-repeat;
  text-indent: -999em;
  opacity: 0.2;
}
a.destroy:hover {
  opacity: 1;
}

a.approve {
  display: block;
  width: 20px;
  height: 20px;
  background: url(/images/admin/icons/link_approve.png) center center no-repeat;
  text-indent: -999em;
  opacity: 0.2;
}
a.approve:hover {
  opacity: 1;
}

a.destroy.loading, a.approve.loading {
  background: url(/images/admin/spinner_transparent.gif) center center no-repeat !important;
}

fieldset.half {
  width: 45%;
}
fieldset.left {
  float: left;
}
fieldset.right {
  float: right;
}
fieldset.standard {
  border: 1px #ddddee solid;
  padding: 0 2% 2% 2%;
}
fieldset.standard legend {
  padding: 3px 7px;
  background: #333344;
  color: #eeeeff;
  font-weight: bold;
}
fieldset div.full {
  width: 100%;
  clear: both;
  padding-bottom: 1em;
}
fieldset div.half {
  width: 47%;
  float: left;
  margin-right: 2%;
  padding-bottom: 1em;
}
fieldset div.third {
  width: 30%;
  float: left;
  margin-right: 3%;
  padding-bottom: 1em;
}
fieldset div.two_thirds {
  width: 63%;
  float: left;
  margin-right: 3%;
  padding-bottom: 1em;
}
fieldset div.bottom {
  padding-bottom: 0 !important;
}
fieldset div div {
  padding: 0;
}
fieldset div div.type_options div {
  padding-bottom: 1em;
}

.tabbed_fieldsets h2 {
  font-size: 1em;
  margin: 1em 0;
  padding: 0;
}
.tabbed_fieldsets fieldset {
  border: 1px #ddddee solid;
  padding: 2%;
  margin-bottom: 2em;
}
.tabbed_fieldsets fieldset legend {
  padding: 3px 7px;
  background: #333344;
  color: #eeeeff;
  font-weight: bold;
}
.tabbed_fieldsets.tabs_enabled ul.tabs {
  width: 100%;
  overflow: auto;
  margin-bottom: -1px;
}
.tabbed_fieldsets.tabs_enabled h2 {
  float: left;
  margin: 0;
}
.tabbed_fieldsets.tabs_enabled h2 a {
  background: #ccccdd;
  padding: 0.5em 1em;
  margin-right: 1em;
  color: #888899;
}
.tabbed_fieldsets.tabs_enabled h2 a.current {
  color: #333344;
  background: #eeeeff;
}
.tabbed_fieldsets.tabs_enabled h2 a.has_error {
  padding-left: 2em;
  background-image: url(/images/admin/icons/tab_error.png);
  background-position: 0.5em center;
  background-repeat: no-repeat;
}
.tabbed_fieldsets.tabs_enabled legend {
  display: none;
}
.tabbed_fieldsets.tabs_enabled fieldset {
  border: none;
  background: #eeeeff;
}
.tabbed_fieldsets.tabs_enabled fieldset.article_type {
  border: 1px #ddddee solid;
  padding: 10px;
}
.tabbed_fieldsets.tabs_enabled fieldset.article_type legend {
  display: block;
  padding: 1px 7px;
  background: #333344;
  color: #eeeeff;
  font-weight: bold;
}

form .errors {
  border: 1px solid #ff0066;
  background: #ff66a3;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}
form .errors h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: -10px -10px 10px -10px;
  padding: 5px;
  background: #ff0066;
}
form .errors ul {
  list-style-type: square;
  margin-left: 20px;
}

fieldset .field_with_errors input, fieldset .field_with_errors textarea, fieldset .field_with_errors select {
  background: #ffe5f0 !important;
  border: 1px #ff0066 solid !important;
}
fieldset .field_with_errors input:focus, fieldset .field_with_errors textarea:focus, fieldset .field_with_errors select:focus {
  -moz-box-shadow: 0px 0px 5px #ff0066 !important;
  -webkit-box-shadow: 0px 0px 5px #ff0066 !important;
  box-shadow: 0px 0px 5px #ff0066 !important;
}

#content_sidebar input.button {
  width: 100%;
  text-align: left;
}
#content_sidebar .button {
  display: block;
  margin-bottom: 1em;
}
#content_sidebar .button.last, #content_sidebar .button#content_body_wide, #content_sidebar .button#content_sidebar, #content_sidebar .button#right_pane {
  margin-bottom: 0;
}
#content_sidebar .additional {
  margin: 1em 0;
}
#content_sidebar .additional h3 {
  font-size: 1.1em;
  text-transform: uppercase;
  border-bottom: 1px #ccccdd solid;
  margin-bottom: 1em;
}
#content_sidebar .additional p {
  font-size: 0.8em;
  line-height: 1.3em;
  color: #555566;
  margin: 1em 0;
}

.word_counter {
  float: right;
  margin-bottom: -1.2em;
  padding: 0.2em 1em 0.2em 1em;
  background: #333344;
  color: white;
}
.word_counter .label {
  font-weight: bold;
}

div.flash_wrapper {
  margin-bottom: 1em;
}
div.flash {
  padding: 1em 2em 1em 1em;
  font-size: 0.9em;
  line-height: 1.3em;
  font-weight: bold;
  color: white;
  background-image: url(/images/admin/icons/flash_close_inactive.png);
  background-repeat: no-repeat;
  background-position: right 1em;
}
div.flash:hover {
  background-image: url(/images/admin/icons/flash_close_active.png);
  cursor: pointer;
}
div.flash span.icon {
  background-image: url(/images/admin/icons/icons_fff.png);
}
div.flash_error {
  background-color: #ff0066;
}
div.flash_notice {
  background-color: #33aa00;
}
div.flash span.icon, div.note span.icon {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
}
div.flash span.text, div.note span.text {
  display: block;
  padding: 0 0 0 2.1em;
}
div.note {
  font-weight: bold;
  margin-bottom: 2em;
  padding: 1em;
}
div.note span.icon {
  background-image: url(/images/admin/icons/icons_222.png);
}
div.note.alert {
  background: #fff899;
  border: 1px #ffee00 solid;
}
div.note.alert span.icon {
  background-position: 0 -144px;
}
div.note.info {
  background: #fff899;
  border: 1px #ffee00 solid;
}
div.note.info span.icon {
  background-position: -16px -144px;
}

span.icon.notice {
  background-position: -16px -144px;
}
span.icon.error {
  background-position: 0 -144px;
}

.spinner {
  display: none;
}

.search_form {
  border: 10px #eeeeff solid;
  padding: 10px;
  margin: 10px 0px 20px 0px;
  font-weight: bold;
  font-size: 0.9em;
}
.search_form input {
  width: 50%;
  float: left;
}
.search_form .spinner {
  position: absolute;
  right: -16px;
}
.search_form label {
  text-transform: uppercase;
}
.search_form .summary {
  float: right;
  color: #555566;
  font-weight: normal;
  width: 40%;
  text-align: right;
  font-size: 1.1em;
}
.search_form .buttons {
  float: left;
  margin-left: 1em;
  position: relative;
}
.search_form .buttons input, .search_form .buttons a {
  line-height: 1.2em;
  width: auto;
  padding: 0.2em 0.5em;
  margin-right: 1em;
  cursor: pointer;
  background: #ddddee;
  border: 1px #ccccdd solid;
  font-weight: bold;
  color: #333344;
  text-transform: uppercase;
}
.search_form .buttons input:hover, .search_form .buttons a:hover {
  text-decoration: none;
}

#pagination_loading_wrapper {
  height: 50px;
  margin: 20px;
}
#pagination_loading_wrapper #pagination_loading {
  display: none;
  margin: 0px auto;
  width: 100px;
  border: 10px #ddddee solid;
  padding: 10px 20px;
  font-weight: bold;
  line-height: 2em;
}

#lock_notice, #lock_warning {
  margin: 0px 0px 1em 0;
  padding: 10px;
  font-weight: bold;
  color: white;
  font-size: 0.9em;
  line-height: 1.3em;
}

#lock_notice {
  background: #33aa00;
}

#lock_warning {
  background: #ff0066;
}

table.list {
  padding: 0;
  width: 100%;
}
table.list td {
  padding: 0.3em 0.4em;
}
table.list td a {
  font-weight: bold;
}
table.list td.center {
  text-align: center;
}
table.list td span.extra {
  display: block;
  font-size: 0.9em;
  color: #666666;
  text-transform: uppercase;
}
table.list td.empty {
  font-weight: bold;
  padding: 2em;
  background: #ddddee;
  text-align: center;
}
table.list td.nowrap {
  white-space: nowrap;
}
table.list td.destroy, table.list td.approve {
  width: 20px;
}
table.list th {
  font-weight: bold;
  background: #333344;
  border-bottom: 1px #888899 solid;
  color: #eeeeff;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0.2em 0.4em;
  white-space: nowrap;
}
table.list th.action_icons {
  width: 100px;
}
table.list th.center {
  text-align: center;
}
table.list tr.odd td {
  background: #eeeeff;
  border-top: 1px #dddddd solid;
  border-bottom: 1px #dddddd solid;
}
table.list tr:hover td {
  background: #ffffcc;
}

body.notice {
  background: #111122;
}
body.notice #notice_wrapper {
  margin-top: 100px;
}
body.notice #notice_content {
  width: 300px;
  margin: 0 auto;
}
body.notice #notice_content a {
  color: #888899;
}
body.notice h1 {
  margin-bottom: 0;
  color: #333344;
  background: none;
  padding: 0;
}
body.notice #notice_body {
  padding: 1.5em;
  background: #333344;
}
body.notice input.button {
  background: #888899;
  width: auto;
  padding: 0.5em 1em;
  border: none;
}
body.notice input.button:hover, body.notice input.button:active {
  background: #ccccdd;
  cursor: pointer;
}
body.notice label {
  color: #888899;
  margin-top: 0.5em;
}
body.notice .buttons {
  margin-top: 1em;
}
body.notice .version {
  color: #888899;
  text-align: right;
  padding-right: 1.5em;
  font-size: 0.9em;
  margin-top: 0.5em;
}
