- if @article
	.box
		%h2 Article actions
		%fieldset.buttons
			= link_to "Cancel", :back, :class=>"button cancel"
			- unless @article.new_record?
				= link_to "Obliterate this article", admin_article_path(@article), :method => :delete, :confirm => "Are you sure you want to delete this article?", :class=>"button delete"
			= f.submit "Save and close", :class=>"button save last"
			

- if !@article
	.box
		%h2 Filter articles
		=label_tag :publication_id, "Publication:"
		=select_tag	:publication_id,	publication_options_for_list
		
		=label_tag :section_id, "Section:"
		=select_tag	:section_id,	section_options_for_list
		
	.box
		%h2 Tools
		= link_to "New article", new_admin_article_path, :class => "button new last"
		