//****************************************************************************
// Styles for asset manager
//***************************************************************************/

.asset_folder_list
	li
		padding: 2px 0
		whitespace: nobreak
		ul
			margin-left: 0px
	a
		color: $grey_1
		padding: 18px
		background: url(/images/admin/icons/folder_closed.png) no-repeat left center
		&.collapsable
			background: url(/images/admin/icons/folder.png) no-repeat left center
		&.current
			@extend .small_rounded
			background: url(/images/admin/icons/folder_white.png) no-repeat left center
			background-color: $grey_1
			color: white
			font-weight: bold
			padding: 3px 5px 3px 21px
			margin-bottom: 2px
			background-position: 3px center

/* Browser

#folder_browser h2
	font-size: 2em
	font-weight: bold
	margin-top: 1em
	margin-bottom: 1em

.asset_breadcrumbs
	padding: 2px 0px
	border-bottom: 1px #dde solid
	margin-top: -1em
	a
		margin-left: 5px
		margin-right: 5px

#main_folder_wrapper
	border: 3px #eef solid
	overflow: auto
	padding: 11px

/* Icons

#folder_browser
	h2
		padding: 0
		margin: 0 0 10px 0
	div
	
		&.icon
			@extend .fade
			width: 125px
			min-height: 100px
			float: left
			margin-right: 11px
			margin-bottom: 13px
			img
				width: 125px
				height: 100px
			&:hover
				@extend .hover_glow
			&.last
				margin-right: 0px
			&.first
				clear: left
			.label
				padding: 5px
				background: #eef
				margin-top: -5px
				strong
					display: block
				em
					display: block
					float: right
					background: $grey_1
					padding: 0px 3px 2px 3px
					margin: 3px -5px -5px 3px
					.asset_edit
						background-position: -64px -112px
					.asset_show
						background-position: -160px -112px
					.asset_delete
						background-position: -80px -128px
					.asset_use
						background-position: -64px -144px
					
		&.label a
			display: block
			float: left
			text-indent: -999em
			width: 14px
			height: 14px
			background-image: $icon_set_1
			margin-right: 3px
			&:hover
				width: 14px
				height: 14px
				background-image: $icon_set_3

/* Cropper

fieldset.preview 
	max-width: 672px
	overflow: auto

	img.original
		margin: 0px 20px 20px 0
		
	.recrop
		display: none
			
	.geometry
		display: none



/* Attachments

.asset_attachment_tools
	float: left
	width: 150px
	margin-right: 20px
	
	.button
		display: block
		margin-bottom: 1em
		
	
.asset_attachment_items
	float: left
	width: 500px

	.empty
		@extend .small_rounded
		margin: 0 auto
		background: $grey_5
		padding: 1em
		text-align: center
		text-transform: uppercase
		color: $grey_2
		font-size: 0.9em
		
	ul.asset_attachment_list
	
		li.placeholder
			@extend .small_rounded
			background: $grey_6
			margin-bottom: 1em
			padding: 7px
			border: 3px $grey_4 dotted
		
		li.asset
			@extend .small_rounded
			background: $grey_5
			padding: 10px
			@extend .clearfix
			margin-bottom: 1em
			
			h4
				@extend .small_rounded_top
				background: $grey_2 url(/images/admin/icons/move.png) 5px center no-repeat
				color: $grey_3
				font-size: 1em
				padding: 3px 10px 3px 30px
				margin: -10px -10px 10px -10px
				cursor: move
				a
					@extend .medium_rounded
					float: right
					color: white
					padding: 3px 7px 3px 25px
					margin: 1px -5px 1px 10px
					line-height: 1em
					background: $grey_3 url(/images/admin/icons/button_delete.png) 0 center no-repeat

			.thumbnail
				@extend .small_rounded
				width: 126px
				float: left
				margin-right: 10px
				padding: 4px
				background: $grey_2
				line-height: 0				
				img
					border: 1px $grey_3 solid
					
			.caption
				width: 335px
				float: left
					



